{% extends "base.html" %}

{% block content %}
<h1>Bienvenido al buscador de actas masivas</h1>
<h5>Por favor ingrese los datos como el ejemplo mostrado en pantalla</h5>

<link href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.9.2/min/dropzone.min.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.min.css">
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.9.2/min/dropzone.min.js"></script>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>


<div class="row">
        <form action="{% url 'csv_files' %}" class="dropzone" id="my-dropzone"></form>

            <script>
        Dropzone.options.myDropzone = {
            paramName: "file", // The name that will be used to transfer the file
            maxFilesize: 1, // MB
            acceptedFiles: ".csv",
                init: function() {
                    this.on("sending", function(file, xhr, formData) {
                // Append the CSRF token to the form data
                    formData.append("csrfmiddlewaretoken", "{{ csrf_token }}");
                });
                    this.on("success", function(file, response) {
                // Handle the response from the server
                    console.log(response);
                });
            }
            };
        </script>
</div>
<br/>

<div class="d-grid gap-2 d-md-flex justify-content-md-end">
<form action="{% url 'process_csv_search' %}" method="GET">
    <!-- File is uploaded -->
   <input type="submit" value="Procesar CSV" class="btn btn-primary" id="liveToastBtn">
</form>
<form action="{% url 'download_csv_search' %}" method="GET">
   <!-- File is uploaded -->
  <input type="submit" value="Descargar CSV" class="btn btn-primary" id="liveToastBtn">
</form>
<form action="{% url 'print_actas_s' %}" method="GET">
    <!-- File is uploaded -->
   <input type="submit" value="Imprimir Actas" class="btn btn-primary" id="liveToastBtn">
 </form>

</div>
  
    <table class="table table-striped table-hover table-bordered table-responsive">
        <script>
            $(document).ready(function() {
                $('.table').DataTable({
                    scrollY: '570px',
                    paging: false,
                    ordering: true, 
                } );
            });

        </script>
        <thead class="table-dark" position="sticky" top="0">
            <tr>
                <th scope="col">id</th>
                <th scope="col">OC</th>
                <th scope="col">Proyecto</th>
                <th scope="col">Estado</th>
                <th scope="col">Total certificar</th>
                <th scope="col">Fecha servicio</th>
                <th scope="col">Monto parcial</th>
            </tr>
        </thead>

        <tbody class="table-group-divider">
            {% if records_csv %}
                {% for record in records_csv %}
                    <tr>
                        <td><small>{{ forloop.counter }} </a></small> </td>
                        <td><small> {{ record.OC }} </small></td>
                        <td><small> {{ record.Proyecto }} </small></td>
                        <td><small> {{ record.total_OC }} </small></td>
                        <td><small> {{ record.total_certificar }} </small></td>
                        <td><small> {{ record.servicio_obra }} </small></td>
                        <td> <small>{{ record.found }}</small> </td>
                    </tr>
                {% endfor %}
            {% endif %}
        </tbody>
    </table>

    <div class="toast-container position-fixed bottom-0 end-0 p-3">
        <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
          <div class="toast-header">
            <img src="C:\Users\kher-\Proyectos\venv1\pangea-lps\lps_web\img\256x256bb.jpg" class="rounded me-2">
            <strong class="me-auto">Atención!</strong>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
          </div>
          <div class="toast-body">
            Datos impresos correctamente
          </div>
        </div>
      </div>
      
      <script>
        const toastTrigger = document.getElementById('liveToastBtn')
        const toastLiveExample = document.getElementById('liveToast')

        if (toastTrigger) {
        const toastBootstrap = bootstrap.Toast.getOrCreateInstance(toastLiveExample)
        toastTrigger.addEventListener('click', () => {
            toastBootstrap.show()
        })
        }
      </script>

{% endblock %}

<!-- MEJORO EL CODIGO PERO SE IMPRIME HASTA LOS DUPLICADOS PERO NO CUADRA CON LA CANTIDAD QUE INDICA EL CUADRO VERIFICAR -->